<div id="cont">
    <h2>Registration </h2><br><br>
    <label>Name :<input type="text" placeholder="Enter your name"></label>
    <br><br>
    
    <label>ID :<input type="text" placeholder=""></label>
    <br><br>
    
    <label>Email :<input type="text" placeholder="Enter your Email"></label>
    <br><br>
    
    <label>Total Number of Passengers :<label><input type="radio">1</label><label><input type="radio">2</label>
    <label><input type="radio">3</label><label><input type="radio">4</label><label><input type="radio">4</label><label><input type="radio">6</label><label><input type="radio">2</label>
</label>
    <br><br>

    
    <label>Starting Place :<input type="text" placeholder=""></label>&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;&nbsp;&nbsp;

    
    <label>Destination :<input type="text" placeholder=""></label>
    <br><br>

    <button class="animate_animated animate__zoomIn" (click)="func()">Continue</button>
</div>